// src/assets/styles/main.scss

// 1. Base files
@use './base/variables';
@use './base/reset';
@use './base/layout';

// 2. Components Globals
@use './components/splash';

// 3. Global Utilities
.animate-fade-in { animation: fadeIn 1s ease forwards; }
.animate-fade-up { animation: fadeUp 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards; }

@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadeUp { from { opacity: 0; transform: translateY(40px); } to { opacity: 1; transform: translateY(0); } }
